body {
  background-color: whitesmoke;
}

.container {
  margin: 10px auto;
  position: relative;
}

.container,
.grid,
.primary,
.secondary {
  width: 480px;
}

.grid {
  height: 480px;
}

.grid-square {
  background-color: white;
  border: 1px solid lightgrey;
  float: left;
}

.primary,
.secondary {
  height: 50px;
  padding: 10px;
  position: absolute;
}

.primary {
  background-color: red;
}

.secondary {
  background-color: orange;
}

button,
input {
  border-radius: 3px;
  height: 30px;
  width: 50px;
}

button {
  outline: none;
}

button:hover {
  background-color: grey;
  border-color: grey;
  color: white;
  cursor: pointer;
}

input {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.clear {
  float: right;
}